footer {
  @include outer-container;
  border-top: 1px solid $base-border-color;
  margin-top: 2em;
  min-height: 200px;
  padding-top: 2em;
  text-align: center;

  .heading {
    font-size: .9em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

li.main {
  @include transition (border .15s ease-in);
  border-radius: 30px;
  border: 1px solid rgba($base-border-color, .2);
  display: inline-block;
  margin-right: .5em;
  padding: .01em .7em;

  &:hover {
    border-color: $base-border-color;
  }
}

footer.posts {
  ul {
    li {
      font-size: .5em;
    }
  }
}
