ul.posts {

  li.post {
    border-bottom: 1px solid $light-gray;
    padding: .75em 0;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.post-wrap {
  @include transition(all .2s linear);

  h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: 500;
  }
}

.post-summary {

  h1 {
    display: none;
    font-size: 1.2em;
  }

  p {
    font-size: 1.21em;
    line-height: 1.4em;
  }

  .image {
    display: none;
  }
}
