---
layout: posts
title: Writing My Own Blog
subtitle: I never thought it could be so cool.
date: 2014-04-16
image: otto.jpg
location: San Francisco
tags: code
---

#My First Post

Now you are ready to type in anything you like! You can use markdown or regular html (no haml) in this file. To celebrate successfully creating our first blog post, let's add a congratulatory image.

<figure>

  <div class="image">
  <img />{:src => "images/#{article.data.image}"}
  </div>

  <figcaption>
  Arrested Development, Mission accomplished
  </figcaption>

</figure>

Now you've added your first post, your first image, and your own styles!
